@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family:
		'Manrope',
		-apple-system,
		BlinkMacSystemFont,
		'Helvetica Neue',
		Arial,
		sans-serif;
}
:root {
	--bg: #ffffff;
	--accent: #d50000;
	--accent-100: #ffcdd2;
	--accent-200: #ef9a9a;
	--accent-500: #f44336;
	--black: #000;
}
.app-container {
	background-color: var(--bg);
}
.container {
	display: block;
}
.grid {
	display: block;
}
@media screen and (max-width: 720px) {
	.app-container {
		display: flex;
		flex-direction: column;
	}
}
